<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <%- include('../include/_menu') %>

      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- Basic Layout -->
          <div class="row">
            <div class="col-xl">
              <div class="card mb-4">
                <div
                  class="card-header d-flex justify-content-between align-items-center"
                >
                  <h5 class="mb-0">Cập nhật chi tiết sản phẩm</h5>
                </div>
                <div class="card-body">
                  <form action="/api/productdetails/updateProductDetail" method="POST" id="update_productdetail" enctype="multipart/form-data">
                    
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-company"
                        >Giá</label
                      >
                      <input type="hidden" name="productDetailId" value="<%= productDetail._id %>">
                      <input
                        type="text"
                        class="form-control"
                        name="price"
                        value="<%= productDetail.price %>"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-company"
                        >Màu</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="color"
                        value="<%= productDetail.color %>"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-company"
                        >Chất liệu</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="material"
                        value="<%= productDetail.material %>"
                      />
                    </div>
                    
                    <div class="mb-3">
                      <label for="exampleFormControlSelect1" class="form-label"
                        >Sản phẩm dành cho</label
                      >
                      <select
                        class="form-select"
                        name="gender"
                        aria-label="Default select example"
                      >
                        <option value="1" <%= productDetail.gender ? selected="selected" : "" %>>Nam</option>
                        <option value="0" <%= !productDetail.gender ? selected="selected" : "" %>>Nữ</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="formFileMultiple" class="form-label"
                        >Ảnh</label
                      >
                      <input
                        class="form-control"
                        type="file"
                        name="productImage[]"
                        multiple
                        accept="image/*"
                      />
                    </div>
                    
                    <div class="mb-3">
                      <label for="exampleFormControlSelect1" class="form-label"
                        >Sản phẩm</label
                      >
                      <select
                        class="form-select"
                        name="productId"
                        aria-label="Default select example"
                      >
                      <% for(var i = 0; i < products.length; i++) { %>
                        <option value="<%= products[i]._id %>" <%= products[i]._id === productDetail.product._id ? selected="selected" : "" %>>
                          <%= products[i].name %>
                        </option>
                        <% } %>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Content -->
    
