<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <%- include('../include/_menu') %>

      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- Basic Layout -->
          <div class="row">
            <div class="col-xl">
              <div class="card mb-4">
                <div
                  class="card-header d-flex justify-content-between align-items-center"
                >
                  <h5 class="mb-0">Cập nhật sản phẩm</h5>
                </div>
                <div class="card-body">
                  <form action="/api/products/updateProduct" method="POST" id="update_product">
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-fullname"
                        >Tên sản phẩm</label
                      >
                      <input type="hidden" name="productId" value="<%= product._id %>">
                      <input type="text" class="form-control" name="name" value="<%= product.name %>"/>
                    </div>

                    <div class="mb-3">
                      <label class="form-label" for="basic-default-message"
                        >Mô tả</label
                      >
                      <textarea
                        name="description"
                        class="form-control"
                       
                      ><%= product.description %></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlSelect1" class="form-label"
                        >Danh mục</label
                      >
                      <select
                        class="form-select"
                        name="categoryId"
                        aria-label="Default select example"
                      >
                      <%
                      for(var i = 0; i < categories.length; i++) { %>
                     <option value="<%= categories[i]._id %>" <%= categories[i]._id === product.category._id ? selected="selected" : "" %>>
                       <%= categories[i].name %>
                     </option>
                     <% } %>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Content -->
      </div>
    </div>
  </div>
</body>
